@page "/0605aMinimum"

<PageTitle>Minimum and Maximum</PageTitle>
<h1>Minimum</h1>
<p>
Enter several integers, divided by space or spaces.
</p>
<table>
    <tr>
        <td>Array:</td>
        <td><input style="text-align:right" @bind="numbers"/></td>
    </tr>
     <tr>
        <td style="text-align:center" colspan="2">
            <button @onclick="Minimum">Determine Minimum</button> &nbsp; 
        </td>
    </tr>
    <tr>
        <td>Minimum:</td>
        <td>@min</td>
    <tr>
</table>

@code {
    private String numbers = "1   23  -4 ";
    private int min = 0;

    private void Minimum()
    {
        string[] elements = numbers.Split();
        for( int i=0; i < elements.Length ; i++)
        Console.Write(elements [i] + ";");
        Console.Writeline();
    }

}